/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.11.2017, 12:37:30
    Author     : дз
*/

/* unvisited link */
#nameStyle:link {
    color: red;
}

/* visited link */
#nameStyle:visited {
    color: green;
}

/* mouse over link */
#nameStyle:hover {
    color: hotpink;
     text-decoration: underline;
     background-color: yellow;
}

/* selected link */
#nameStyle:active {
    color: blue;
}
/*
#photo:link {
    border: 1px solid yellow;
    outline-style: solid;
    outline-color: red;
    height: 10%;
    width: 10%;
}
#photo:visited {
    border: 1px solid yellow;
    outline-style: solid;
    outline-color: red;
    height: 30%;
    width: 30%;
}
#photo:hover {
    border: 1px solid yellow;
    outline-style: solid;
    outline-color: red;
    height: 370%;
    width: 370%;
}
#photo:active {
    color: blue;
}*/


 #error-login {
    background: #ff0000;
    padding: 5px;
    margin-left: 35px;
    align-content: center;
}

:hover {background-color: #f5f5f5}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}

span#submit_message.error {
    color: red;
    border: 5px solid greenyellow;
    font-size: 20px;
   width: 220px;
    text-align: center;
}
div#error {
    margin: 0px;
    padding: 0px;
}